.header {
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 2.5rem;
}

.list_of_brews {
  display:flex;
  justify-content: center;
}

.brews-table {
  max-width: 50%;
}

.table_element {
  margin: 100px;
}

.main-element-distancer {
  margin: 10px;
}

.command-column-table {
  max-width: 50%;
}

.link-decoration {
  text-decoration: none;
}

.coffee-bots-image {
  text-align: center;
  max-width: 30%;
}

.cookies-page {
  text-align: center;
  justify-content: center;
}