.header {
  text-align: center;
}

.list_of_brews {
  display:flex;
  justify-content: center;
}

.brews-table {
  border: 1px solid black;
}

.table_element {
  margin: 100px;
}

.main-page-table {
  border: 1px solid black;
}

.main-element-distancer {
  margin: 10px;
}

.link-decoration {
  text-decoration: none;
}

.command-column {
  width: 18rem;
}
