.header {
  text-align: center;
}

.list_of_brews {
  display:flex;
  justify-content: center;
}

.table_element {
  margin: 100px;
}

th {
  padding-left: 100px;
}

td {
  padding-left: 100px;
}

table {
  width: 500px;
}