.header {
  text-align: center;
}

.list_of_brews {
  display:flex;
  justify-content: center;
}

.brews-table {
  max-width: 50%;
}

.table_element {
  margin: 100px;
}

.main-element-distancer {
  margin: 10px;
}

.command-column-table {
  max-width: 50%;
}

.link-decoration {
  text-decoration: none;
}