<div class="text-center">
<br>
<br>
<a href="/"><h2 class="header">coffeebot</h2></a>
  <span class="main-element-distancer">We currently do not make use of cookies or persistent web sessions. :)</span>
  <br>
  <span class="main-element-distancer">If we update this policy this page will update.</span>
  <br>
  <a href="/">back</a>
</div>