<div class="text-center">
<br>
<br>
<a href="/"><h2 class="header">coffeebot</h2></a>
  <p class="main-element-distancer">We store basic data (a session ID) in the _coffee_bot_session cookie.</p>
  <p class="main-element-distancer">This is used as part of the authorization flow to connect the bot to Slack - and nowhere else.</p>
  <br>
  <p class="main-element-distancer">If we update this policy this page will update.</p>
  <p class="main-element-distancer">Update: 2018-03-04 - re-add sessions.</p>

  <br>
  <a href="/">back</a>
</div>