<div class="centered text-center">

  <h2>How to brew a delicious pot of coffee!</h2>
    <div class="columns col-6 centered">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">Coffee Maker</h4>
          <h6 class="card-meta">(a 'mr. coffee' sort of thing, a restaurant brewer, etc.)</h6>
      </div>
      <div class="card-body">
        <dl>
          <dt>
            1. Make sure the coffee pot and grounds basket are empty and rinsed out.
          </dt>
          <dt>
            2. Set grinder to medium (or one notch below).
          </dt>
          <dt>
            3. Grind beans and fill filter until it is just over half full.
          </dt>
          <dt>
            4. Clean container and brewer if necessary!
          </dt>
          <dt>
            5. Put filter into basket. Place basket into brewer.
          </dt>
          <dt>
            6. Press the start button (or equivalent).
          </dt>
          <dt>
            7. Let everyone know there's a new pot with <a href="/" class="link-decoration">/coffee_brewing</a>! :)
          </dt>
	  <dt>
	    For more specific advice or for different methods, Coffee-Bot recommends <a href="https://bluebottlecoffee.com/preparation-guides" target="_blank" class="link-decoration">this Blue Bottle guide</a>.
          </dt>
        </dl>
      </div>
    </div>
    
     </div>
    </div>
  </div>
</div>
