<div class="text-center">
<br>
<br>
<h2 class="header">coffeebot</h2>
<kbd>a coffee-pot slack-bot</kbd>
<br>
<br>
  <kbd>NOTE: This service will shut down on July 1 2020. Please email noah at noahberman dot org with any questions.</kbd>
  <br>
  <br>
  <br>
  <kbd>Thank you for all the brews - almost 1500 of them! - and be safe out there.</kbd>
  <br>
  <br>
  <br>
  <a href="https://secure.actblue.com/donate/bail_funds_george_floyd">if you ever enjoyed this app, donate to the bail funds</a>
  <a href="/privacy">Privacy Policy</a> | <a href="/cookies">Cookies Policy</a>
  <br>
  <br>
  <p>Made with ☕️ in Amsterdam</p>
  <br>
</div>
