<div class="text-center">
<h2>Welcome to ☕️ 418-Bot!</h2>

<h5>
  Most recent coffee brew: <%= @most_recent_brew.location %> at <%= @most_recent_brew.created_at.strftime("%l:%M %p on %b %e") %>.
</h5>

<p>
  List of 418-Bot commands:
  <table class="col-7 centered table table-striped table-hover main-page-table">
    <thead>
        <tr>
            <th class="command-column">command</th>
            <th>result</th>
            <th>extra</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="command-column">/coffee_brewing</td>
            <td>creates a record of coffee bring brewed (default location: Blake)</td>
            <td>You can also use '/coffee_brewing Gusto' to add a location and/or '/coffee_brewing Suite300 and it's delicious!' to add a description.</td>
        </tr>
        <tr>
            <td class="command-column">/coffee_brewing #how</td>
            <td>returns a quick guide to brewing a great pot of coffee</td>
            <td>You can also click <a href="/how_to_brew" class="link-decoration">here</a> for location specific info.</td>
        </tr>
        <tr>
            <td class="command-column">/coffee_brewing #out</td>
            <td>returns instructions for what to do when we're out of coffee</td>
            <td>More on this coming soon...</td>
        </tr>
        <tr>
            <td class="command-column">/last_brewed</td>
            <td>returns the last location and time coffee was brewed</td>
            <td>You can use /last_brewed followed by a number to retrieve more brew records (useful if the last brew wasn't at your location!).</td>
        </tr>
    </tbody>
</table>
</p>
<p>
  @noah on slack with questions! hope you enjoy :)
</p>

<a href="https://twitter.com/turingcoffeebot" class="link-decoration" data-show-count="false">follow @turingcoffeebot</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>