<div class="text-center">
<br>
<br>
<h2 class="header">coffeebot!</h2>  
<%= image_tag "coffeebot.jpeg", alt: "Rupert and the coffeebots", class: "img-responsive, coffee-bots-image" %>

  <p>
  <br />
  <h4 class="main-element-distancer">How to install and use coffeebot:</h4>
  <br />
  <span class="main-element-distancer">You'll need to create (or have someone create for you) a couple of slack slash commands:</span>
  <table class="col-7 centered table table-striped table-hover command-column-table">
    <thead>
      <tr>
        <th>slash command</th>
        <th>request type</th>
        <th>request url</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/coffee_brewing</td>
        <td>POST</td>
        <td>https://coffeebot.coffee/api/v1/coffee_brewing</td>
      </tr>
      <tr>
        <td>/kettle_brewing</td>
        <td>POST</td>
        <td>https://coffeebot.coffee/api/v1/kettle_brewing</td>
      </tr>
      <tr>
        <td>/last_brewed</td>
        <td>GET</td>
        <td>https://coffeebot.coffee/api/v1/coffee_brewing</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
          <tr>
              <th class="command-column">command</th>
              <th>result</th>
              <th>extra</th>
          </tr>
          <tr>
              <td>/coffee_brewing</td>
              <td>creates a record of coffee being brewed (default location is your Slack team name)</td>
              <td>You can also use '/coffee_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/coffee_brewing BlueAnt Get ready - it's delicious!' to add a description.</td>
          </tr>
          <tr>
              <td>/kettle_brewing</td>
              <td>creates a record of kettle being brewed (default location is your Slack team name)</td>
              <td>You can also use '/kettle_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/kettle_brewing BlueAnt and I'm making tea for everyone!' to add a description.</td>
          </tr>
          <tr>
              <td>/last_brewed</td>
              <td>returns the last location and time something was brewed</td>
              <td>You can use /last_brewed followed by a number to retrieve more brew records (useful if the last brew wasn't at your location!).</td>
          </tr>
      </tbody>
  </table>
  </p>
  <p>
    Any questions? Email <a href="mailto:noah@noahberman.org">noah at noahberman dot org</a>! hope you enjoy :)
  </p>
  <a href="/coffee_info">Privacy Policy</a>
  <br/>
  <br>
  <br>
</div>
