<div class="text-center">
<br>
<br>
<h2 class="header">coffeebot</h2>
<kbd>a coffee-pot slack-bot</kbd>
<br>
<br>
<h4 class="main-element-distancer">How to install and use coffeebot:</h4>
  <div class="border-adjust">
    <p class="main-element-distancer">You'll need to create (or have someone create for you) a few Slack slash commands.</p>
    <p class="main-element-distancer">1. Go to https://your-slack-team-name-here.slack.com/apps/manage/custom-integrations </p>
    <p class="main-element-distancer">2. Click on "Slack Commands"</p>
    <p class="main-element-distancer">3. Follow the instructions on that page to add the following. Each item is its own new command.</p>
    <p class="main-element-distancer">Questions? Comments? Requests? Issues? Email <a href="mailto:hello@coffeebot.coffee">hello at coffeebot dot coffee</a>.</p>
    <p class="main-element-distancer">Hope you enjoy :)</p>
  </div>
  <h4 class="main-element-distancer">List of necessary commands:</h4>
  <div class="border-adjust">
    <table class="col-7 centered table table-striped table-hover command-column-table">
      <thead>
        <th class="command-break-fix">command</th>
        <th>request type</th>
        <th>request url</th>
      </thead>
      <tbody>
        <tr>
          <td class="command-break-fix"><code>/coffee_brewing</code></td>
          <td>POST</td>
          <td><code class="command-url-break">https://coffeebot.coffee/api/v1/coffee_brewing</code></td>
        </tr>
        <tr>
          <td class="command-break-fix"><code>/kettle_brewing</code></td>
          <td>POST</td>
          <td><code class="command-url-break">https://coffeebot.coffee/api/v1/kettle_brewing</code></td>
        </tr>
        <tr>
          <td class="command-break-fix"><code>/last_brewed</code></td>
          <td>GET</td>
          <td><code class="command-url-break">https://coffeebot.coffee/api/v1/coffee_brewing</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="main-element-distancer">What each command does:</h4>
  <div class="border-adjust">
    <table class="col-7 centered table table-striped table-hover command-column-table">
      <thead>
        <th class="command-break-fix">command</th>
        <th>result</th>
        <th>extra</th>
      </thead>
      <tbody>
        <tr>
          <td class="command-break-fix"><code>/coffee_brewing</code></td>
          <td>creates a record of coffee being brewed (default location is your Slack team name)</td>
          <td>You can also use '/coffee_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/coffee_brewing BlueAnt Get ready - it's delicious!' to add a description.</td>
        </tr>
        <tr>
          <td class="command-break-fix"><code>/kettle_brewing</code></td>
          <td>creates a record of kettle being brewed (default location is your Slack team name)</td>
          <td>You can also use '/kettle_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/kettle_brewing BlueAnt and I'm making tea for everyone!' to add a description.</td>
        </tr>
        <tr>
          <td class="command-break-fix"><code>/last_brewed</code></td>
          <td>returns the last location and time something was brewed</td>
          <td>You can use /last_brewed followed by a number to retrieve more brew records (useful if the last brew wasn't at your location!).</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/privacy">Privacy Policy</a> | <a href="/cookies">Cookies Policy</a>
  <br>
  <br
  <p>Made with ☕️ in Amsterdam</p>
  <br>
</div>
