<div class="text-center">

<h2>Welcome to ☕️ CoffeeBot!</h2>


  <% if current_user.nil? %>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team&client_id=107333465906.108008566694"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
  <% else %>
    <%= link_to "Logout", logout_path, method: :destroy, class: "btn main-element-distancer" %>
  <% end %>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <div>
    <% if current_user %>  
    	<%= link_to "#{@display}", list_of_brews_path, class: "btn btn-lg main-element-distancer" %>
    <% end %>
  </div>
  <p>
   <span class="main-element-distancer"> List of CoffeeBot commands:</span>
    <table class="col-7 centered table table-striped table-hover command-column-table">
      <thead>
          <tr>
              <th class="command-column">command</th>
              <th>result</th>
              <th>extra</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>/coffee_brewing</td>
              <td>creates a record of coffee being brewed (default location is your Slack team name)</td>
              <td>You can also use '/coffee_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/coffee_brewing BlueAnt Get ready - it's delicious!' to add a description.</td>
          </tr>
          <tr>
              <td>/last_brewed</td>
              <td>returns the last location and time coffee was brewed</td>
              <td>You can use /last_brewed followed by a number to retrieve more brew records (useful if the last brew wasn't at your location!).</td>
          </tr>
      </tbody>
  </table>
  </p>
  <span class="main-element-distancer"></span>
  
  <p>
	<span class="main-element-distancer">If you're installing this for the first time, you'll need these slack slash commands:</span>
	<table class="col-7 centered table table-striped table-hover command-column-table">
		<thead>
			<tr>
				<th>slash command</th>
				<th>request type</th>
				<th>request url</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>/coffee_brewing</td>
				<td>POST</td>
				<td>https://coffeebot.coffee/api/v1/coffee_brewing</td>
			</tr>
			<tr>
				<td>/last_brewed</td>
				<td>GET</td>
				<td>https://coffeebot.coffee/api/v1/coffee_brewing</td>
			</tr>
		</tbody>
	</table>
   </p>



  <p>
    Any questions? Email <a href="mailto:noah@noahberman.org">noah at noahberman dot org</a>! hope you enjoy :)
  </p>

</div>
