<div class="text-center">
<br>
<br>
<h2 class="header">coffeebot</h2>
<kbd>a coffee-pot slack-bot</kbd>
<br>
<br>
<a href="https://slack.com/oauth/authorize?client_id=107333465906.108008566694&scope=incoming-webhook,commands"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a><h4 class="main-element-distancer">How to install and use coffeebot:</h4>
  <div class="border-adjust">
    <p class="main-element-distancer">You'll need to create (or have someone create for you) a few Slack slash commands.</p>
    <p class="main-element-distancer">Clicking on the "Add to Slack" button should get you started.</p>
    <p class="main-element-distancer">Questions? Comments? Requests? Issues? Email <a href="mailto:hello@coffeebot.coffee">hello at coffeebot dot coffee</a>.</p>
    <p class="main-element-distancer">Hope you enjoy :)</p>
    <p class="main-element-distancer"><a href="https://twitter.com/githubbers/status/1182017616740663296?s=20">PS: GitHub must immediately cancel its contract with ICE.</a>
  </div>
  <h4 class="main-element-distancer">List of necessary commands:</h4>
  <div class="border-adjust">
    <table class="col-7 centered table table-striped table-hover command-column-table">
      <thead>
        <th class="command-break-fix">command</th>
        <th>request type</th>
        <th>request url</th>
      </thead>
      <tbody>
        <tr>
          <td class="command-break-fix">/coffee_brewing</td>
          <td>POST</td>
          <td class="command-url-break">https://coffeebot.coffee/api/v1/coffee_brewing</td>
        </tr>
        <tr>
          <td class="command-break-fix">/last_brewed</td>
          <td>POST</td>
          <td class="command-url-break">https://coffeebot.coffee/api/v1/last_brewed</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 class="main-element-distancer">What each command does:</h4>
  <div class="border-adjust">
    <table class="col-7 centered table table-striped table-hover command-column-table">
      <thead>
        <th class="command-break-fix">command</th>
        <th>result</th>
        <th>extra</th>
      </thead>
      <tbody>
        <tr>
          <td class="command-break-fix">/coffee_brewing</td>
          <td>creates a record of coffee being brewed (default location is your Slack team name)</td>
          <td>You can also use '/coffee_brewing BlueAnt' to add a custom location (in this case, BlueAnt) and/or '/coffee_brewing BlueAnt Get ready - it's delicious!' to add a description.</td>
        </tr>
        <tr>
          <td class="command-break-fix">/last_brewed</td>
          <td>returns the last location and time something was brewed</td>
          <td>You can use /last_brewed followed by a number to retrieve more brew records (useful if the last brew wasn't at your location!).</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/privacy">Privacy Policy</a> | <a href="/cookies">Cookies Policy</a>
  <br>
  <br>
  <p>Made with ☕️ in Amsterdam</p>
  <br>
</div>
