<div class="text-center">
  <a href="/">back to homepage</a>
  
  <h3>Privacy Policy</h3>

  <p>Privacy policy: We use no trackers of any kind.</p>
  <p>We capture Slack team identifiers and user identifiers to allow website login and to provide you various methods for accessing</p>
  <p>your data. We do not and will not sell, transmit, or otherwise do anything with this information. If you have any questions</p>
  <p>feel free to contact me at noah at noahberman dot org.</p>
  
</div>
