<div class="text-center">
  <h2>More coming soon... </h2>
  <h3>For now, here's a guide to describing coffee flavor.</h3>
  
  <img src="http://www.scaa.org/chronicle/wp-content/uploads/2016/01/SCAA_FlavorWheel.01.18.15.jpg" class="img-responsive" />
</div>