<div class="text-center">
<br>
<br>
  <a href="/"><h2 class="header">coffeebot!</h2></a>
  
  <h3>Privacy Policy</h3>
  <br>
  <p>We use no trackers of any kind.</p>
  <p>We capture Slack team identifiers and user identifiers to provide access to your brew data.</p>
  <p>We do not and will not sell, transmit, or otherwise do anything other than provide you and your Slack team access to this information. 
  <p>If you have any questions feel free to contact me at hello at coffeebot.coffee.</p>
  
</div>
