<h1 class="header">ALL THE BREWS</h1>

<div class="list_of_brews">
  <table class="col-4 table table-striped table-hover brews-table">
    <thead>
      <tr>
        <th>Brewed By</th>
        <th>Location</th>
        <th>Time Brewed</th>
      </tr>
    </thead>
    <tbody>
      <% @brews.each do |brew| %>
      <tr>
        <td>☕️ &nbsp;<%= brew.user_name %></td>
        <td><%= brew.location %></td>
        <td><%= time_ago_in_words(brew.created_at) %> ago</td>
      </tr>
      <% end %>
  </tbody>
  </table>
</div>