<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1">
    <meta name="description" content="coffeebot is a coffee-pot slack-bot">
    <meta name="author" content="https://faceless.company">
    <%= render 'application/favicon' %>
    <title>coffeebot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= yield %>

  </body>

</html>
